body {
    background-color: #000080;
	margin-bottom: 60px;
	min-height: 100%;
}

.div {
    position: absolute;
    left: 130px;
    top: 200px;
    background-color: #008080;
}

.main {
    position: absolute;
    right: 100px;
    top: 230px;
    background-color: #008080;
}

.h1 {
    position: absolute;
    left: 150px;
    top: 150px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex;
	background-color: #000080;
}

.item{
	margin: 25px;
	width: 250px;
	background-color: #008080;
	flex-grow: 1;
	
}


/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there 
}
*/
.stom {
    border: 5px white;
	
}

.nee {
    display: flex;
}

.plek {
    width: 700px;
    height: 100px;
    margin: 1px auto;
    position: relative;
}

.clollor{
    background-color: #008080;
}

.plekk h1{
		 margin: 0;
		 padding: 0;
		 font-family: 'arial'
		 front-size: 3em;
		 text-transform: uppercase;	
		 text-align: center;
		 color: #008080;		 
		 }
		 
	#footer {
    text-align: center;
    background-color: #008080;
    color: #000000;
    position: absolute;
    padding: 10px;
	width: 99%;
	bottom: 0 px;
	height: 110px;
}

		 	p{
	font-size: 20px;
	}
	
			 	label{
	font-size: 20px;
	}
	
			 	h4{
	font-size: 20px;
	}


		 	table{
	font-size: 20px;
	}
	
			 	strong{
	font-size: 20px;
	}
			 	h3{
	font-size: 25px;
	}
			 	figure{
	font-size: 20px;
	}
*{
    margin: 0;
    padding: 0;
}
nav p{
    font-family: Arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float:left;
	
}
nav ul{
    float:left
}
nav ul li{
    float: left;
    list-style: none;
}
    nav ul li a {
        display:block;
        font-family: Arial;
        color: #222;
        font-size: 20px;
        padding: 24px 14px;
        text-decoration: none;
    }
    nav ul li ul {
        display: none;
        position: absolute;
        background-color: white;
        padding: 10px;
        border-radius: 0px 0px 4px 4px;
    }
    nav ul li:hover ul {
        display: block;
    }
    nav ul li ul li{
        width: 180px;
        border-radius: 4px;
    }
    nav ul li ul li a {
       padding: 16px 14px;
        }
        nav ul li ul li a :hover{
            background-color: #f3f3f3;
        }
