
<div class="vincentBlaBla">
    <h1>This page is for my school project.</h1>
</div>
<div class="vincentBlaBla">
    <h1>UL:Ongesorteerd</h1>
    <ul>
        <li>Gta v &euro;18,99</li>
        <li>Fifa 21 &euro;55</li>
        <li>Fortnite &euro;free to play</li>
        </ul>
</div>
<div class="vincentBlaBla">
    <h1>OL:Gesorteerd</h1>
    <ol>
        <li>Modern warfare &euro;59,99</li>
        <li>Minecraft &euro;29,98</li>
        <li>black ops cold war &euro;64,99</li>
     </ol>
</div>
<div>
    <figure>
    <img src="~/plaatjes/spider man.jpg"height="500" />
     <figcaption>Spiderman game</figcaption>
    </figure>
</div>
<div class="vincentBlaBla">
    <h1>Dit is mijn 2e project.</h1>
</div>
<div class="vincentBlaBla">
    <h3>Tabel 1</h3>
<table class="RedAndYellow" width="250" height="300">
    <tr>
        <td class="vincentred">A</td>
        <td class="vincentred">B</td>
        <td class="vincentred">C</td>
        <td class="vincentred">D</td>
        </tr>
    <tr>
        <td class="vincentred">E</td>
        <td class="vincentred">F</td>
        <td class="vincentred">G</td>
        <td class="vincentred">H</td>
        </tr>
    <tr>
        <td class="vincentred">I</td>
        <td class="vincentred">J</td>
        <td class="vincentred">K</td>
        <td class="vincentred">L</td>
    </tr>  
    <tr>
        <td class="vincentred">M</td>
        <td class="vincentred">N</td>
        <td class="vincentred">O</td>
        <td class="vincentred">P</td>
        </tr>
    <tr>
        <td class="vincentred">Q</td>
        <td class="vincentred">R</td>
        <td class="vincentred">S</td>
        <td class="vincentred">T</td>
        </tr>
    <tr>
        <td class="vincentred">U</td>
        <td class="vincentred">V</td>
        <td class="vincentred">W</td>
        <td class="vincentred">X</td>
        </tr>
    <tr>
        <td class="vincentred">Y</td>
        <td class="vincentred">Z</td>
        <td class="vincentred">1</td>  
        <td class="vincentred">2</td>
        </tr>
    <tr>
        <td class="vincentred">3</td>
        <td class="vincentred">4</td>
        <td class="vincentred">5</td>
        <td class="vincentred">6</td>
        </tr>
    <tr>
        <td class="vincentred">7</td>
        <td class="vincentred">8</td>
        <td class="vincentred">9</td>
        <td class="vincentred">10</td>
            </tr>
</table>
</div>
<div class="vincentBlaBla">
    <h3>Tabel 2</h3>
    <table></table>
</div>
<div class="vincentBlaBla">
   <h3>Table 3</h3>
    <h3>Stoplicht</h3>
    <table class="black" width="250" height="300">
        <tr>
            <td class="green">o</td>
        </tr>
        <tr>
            <td class="yellow">o</td>
        </tr>
        <tr>
            <td class="red">o</td>
        </tr>
    </table>
</div>