<div class="vincentBlaBla">
<h1>Bereikbaar op</h1>

<address>
    Rotterdam, Ik ga niet zeggen waar.<br />
    <abbr title="Phone">P:</abbr>
    06 11043703
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:vinvoetballer@hotmail.com">vinvoetballer@hotmail.com</a><br />
    <strong>Gmail:</strong> <a href="mailto:vincentgwanmesia@gmail.com">vincentgwanmesia@gmail.com</a>
</address>
</div>